.img-container{
    width: 100%;
    height: 270px;
    max-height: 400px;
}
.img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.restaurant-name{

color : black;
}

.restaurant-name h2 {
    font-weight: bolder;
}

.counter{
    margin-top: 2em;
}

/* add to card css */

.fa-cart-plus{
    background:#0652DD;
  }
  
  .addtocart{
    display:block;
    padding:0.5em 1em 0.5em 1em;
    border-radius:100px;
    border:none;
    font-size:2em;
    position:relative;
    background:#0652DD;
    cursor:pointer;
    height:2em;
    width:10em;
    overflow:hidden;
    transition:transform 0.1s;
    z-index:1;
  }
  .addtocart:hover{
    transform:scale(1.1);
  }
  .pretext{
    color:#fff;
    background:#0652DD;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Quicksand', sans-serif;
  }
  i{
    margin-right:8px;
  }