{{define "restaurantmainpage"}}
<!DOCTYPE html>
<html lang="en">

{{template "head"}}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

    {{template "restaurantsidebar"}}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               {{template "authtopbar" .user}}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                   <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <h2>Restaurant Info</h2> <br>
                            <img src="{{.user.PictureURL}}" width="400px" class="img-fluid" alt="">
                            <div class="form-group">
                                <form action="/newprofilepicture" method="post" enctype="multipart/form-data">
                                    <input required type="file" name="picture" accept="image/png, image/jpeg">
                                    <button type="submit" class="btn btn-outline-primary">
                                        <i class="fa fa-plus"> Change Profile Picture</i>
                                    </button>
                                </form>
                            </div>
                            
                        </div>
                        <div class="col-lg">
                            Restaurant Name: <b>{{.user.FirstName}}</b><br>
                            Address: <b>{{.address.Neighbourhood}}, {{.address.Street}} street, NO: {{.address.BuildingNo}}/{{.address.DoorNo}}, {{.address.District}}, {{.address.City}}</b> <br>
                            <br> <br>
                            <a href="/newaddress" class="btn btn-outline-primary float-right">
                                <i class="fa"> Change Address
                                </i>
                            </a>

                        </div>
                    </div>
                   </div>
                    <div class="row">
                        <h1>
                            <a href="/newproduct" class="btn btn-outline-primary float-right">
                                <i class="fa fa-plus"> Add a New Food
                                </i>
                            </a>
                        </h1>
                    </div>
                   
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">Picture</th>
                                    <th scope="col">Food Name</th>
                                    <th scope="col">Price</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {{range $index,$value := .products}}
                                  <tr>
                                    <td><img src="{{$value.PictureURL}}" class="img-fluid" height="150px" width="150px" alt=""></td>
                                    <td>{{$value.Name}}</td>
                                    <td>{{$value.Price}} TL</td>
                                    <td>
                                        <a href="/product/edit/{{ $value.ID }}"><button class="btn btn-outline-warning"><i class="fa fa-pen"></i></button></a>
                                        <a id="btn-delete" href="/product/delete/{{ $value.ID }}"><button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                                      </td>
                                  </tr>
                                {{end}}
                                </tbody>
                              </table>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {{template "scripts"}}
    {{template "alert" .alert}}
</body>

</html>
{{end}}